@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

img.mlwe-icon {
  width: 32px !important;
  height: auto !important;
  border: 0 !important;
  cursor: pointer !important;
  transition: transform 0.1s ease;
  margin: 5px;
  vertical-align: middle;
}

.mlwe-icon-single-view {

}

img.mlwe-icon:hover {
  transform: scale(1.1);
}

#mlwe-suggest-menu {
  z-index: 500;
  min-width: 300px;
  max-width: 50vw;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: default;
}

#mlwe-suggest-menu h3 {
  font-size: 1rem;
  margin: 0.5em 1em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

#mlwe-suggest-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#mlwe-suggest-menu li a {
  display: block;
  padding: 0.5em 1em 0.5em calc(24px + 1.5em);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  transition: background-color 0.1s ease;
  background-position: left 1em center;
  background-repeat: no-repeat;
  background-size: 24px;
}

#mlwe-suggest-menu li a:hover {
  color: #333;
  background-color: #f5f5f5;
}
